@model MyStore.Common.ResultDto.ResultDto
@{
    ViewData["Title"] = "ConfirmEmail";
}

@if (Model.Succeeded)
{
    <div class="alert alert-success mt-5" role="alert">
        @Model.Message
    </div>
}

