@model MyStore.Common.ResultDto.ResultDto
@{
    ViewData["Title"] = "ResetPasswordRequestResult";
}


@if (Model.Succeeded)
{
    <div class="alert alert-success">
        @Model.Message
    </div>
}
else
{
    <div class="alert alert-danger">
        @Model.Message
    </div>
}
